<div class="h-400 mt-5">
    <mdb-carousel class="carousel shadow-sm slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item class="h-400">
            <img class="d-block  w-100" src="../../../assets/imagens/st6.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item class="h-400">
            <img class="d-block  w-100" src="../../../assets/imagens/st5.jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item class="h-400">
            <img class="d-block w-100" src="../../../assets/imagens/st7.jpg" alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel>
</div>

<hr class="ml-9">