<!--Navbar-->
<mdb-navbar class="shadow shadow-sm" SideClass="navbar navbar-expand-lg navbar-dark red" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <mdb-navbar-brand>
            <a class="navbar-brand navBox" href="#">
                Cabral's Comic Store
            </a>
        </mdb-navbar-brand>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fas icon="shopping-cart"></mdb-icon>
                </a>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->